@model Company

@{ 
    ViewData["Title"] = "Company Information";
}

<div class="row">
    <p>
        <h4>
            Edit a Company
        </h4>
    </p>
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <span asp-validation-for="CompanyName"></span>
                <input asp-for="CompanyName" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="CompanyLocation" class="control-label"></label>
                <input asp-for="CompanyLocation" type="text" class="form-control" />
                <span asp-validation-for="CompanyLocation"></span>
                
            </div>

            <div class="form-group">
         
                <input type="submit" class="btn btn-primary float-right" value="Create"/>
                <a class="btn btn-info" asp-action="Index">Show All</a>
            </div>

        </form>
    </div>
</div>


