@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VisaRoom Dashboard</h1><br /><br />
    
</div>

<div class="col-md-8 offset-2">
    
    <div class="col-md-10 offset-1">
        <a class="btn btn-primary" style="width:200px; height:100px;" asp-controller="Candidate" asp-action="Index"><i class="bi bi-display"></i>Manage Candidate</a>
        <a class="btn btn-info" style="width:200px; height:100px;" asp-controller="Employer" asp-action="Index"><i class="bi bi-pencil-square"></i>Manage Employer</a>
        <a class="btn btn-danger" style="width:200px; height:100px;" asp-controller="Home" asp-action="MyRequests"><i class="bi bi-display"></i>Employer Requests</a><br /><br />
        <a class="btn btn-danger" style="width:200px; height:100px;" asp-controller="VisaType" asp-action="MyRequests"><i class="bi bi-display"></i>Manage Visa Type</a>
        <a class="btn btn-primary" style="width:200px; height:100px;" asp-controller="Company" asp-action="Index"><i class="bi bi-display"></i>Manage Company</a>
        <a class="btn btn-info" style="width:200px; height:100px;" asp-controller="ApplyCountry" asp-action="Index"><i class="bi bi-display"></i>Manage Country</a>
    </div>

</div>
