
@{
    ViewData["Title"] = "Admin Dashboard";
}


<div class="col-md-8 offset-2">

    <h5 class="display-6">Welcome to VisaRoom! Please Login to Continue</h5><br/>

    <div class="col-md-10 offset-1">
        <a class="btn btn-primary" style="width:200px; height:100px;" asp-controller="Account" asp-action="CandidateLogin"><i class="bi bi-display"></i>Candidate Login</a>
        <a class="btn btn-info" style="width:200px; height:100px;" asp-controller="Account" asp-action="EmployerLogin"><i class="bi bi-pencil-square"></i>Employer Login</a>
        <a class="btn btn-danger" style="width:200px; height:100px;" asp-controller="Account" asp-action="Login"><i class="bi bi-display"></i>Admin Login</a><br /><br />

    </div>

    <div class="col-md-10 offset-1">
        <hr/><br/>
        <a class="btn btn-dark" style="width:200px; height:100px; margin-left:30%" asp-controller="Account" asp-action="Register"><i class="bi bi-display"></i>Register</a><br />
        <br/><h5 class="display-7" style="margin-left:15%">Don't Have an Account? Click Register and Get Started!</h5>
    </div>
</div>
